.container {
  margin: 0 auto;
  border: 1px solid red;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.text {
  color: red;
}
